.ya-ctrls {
    margin: 12px 0 12px 0;
}

.ya-paging {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ya-headers li {
    cursor: move;
}

.ya-hide {
    visibility: hidden;
    opacity: 0.3;
    cursor: pointer;
    margin: 0 4px 0 4px!important;
}

.ya-hide::before {
    content: '\e106';
    visibility: visible;
}

.ya-hide:disabled::before {
    visibility: hidden;
}

.ya-hide:checked {
    opacity: 1;
}

.ya-sort {
    visibility: hidden;
    float: right;
    opacity: 0.3;
    cursor: pointer;
    margin-top: 1px!important;
}

.ya-sort::before {
    content: '\e150';
    visibility: visible;
}

.ya-sort:indeterminate {
    opacity: 1;
}

.ya-sort:indeterminate::before {
    content: '\e155';
}

.ya-sort:checked {
    opacity: 1;
}

.ya-sort:checked::before {
    content: '\e156';
    opacity: 1;
}