<div class="yat">
    <div class="ya-ctrls" ng-hide="$noControls" ng-include="'yatable/controls.html'"></div>
    <div class="ya-wrap">
        <table class="ya-table table table-bordered table-condensed table-customized table-striped">
            <thead>
                <tr>
                    <th ng-repeat="header in $visibleHeaders" class="yh-[[ ::header.key ]]">
                        [[ ::header.value ]]
                        <span ng-switch on="header.order" ng-click="toggleSorting(header)" class="ya-sort-btn">
                            <i ng-switch-when="0" class="glyphicon glyphicon-sort ya-unsorted"></i>
                            <i ng-switch-when="1" class="glyphicon glyphicon-sort-by-attributes"></i>
                            <i ng-switch-when="2" class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody ng-include="$rowTemplate"></tbody>
        </table>
    </div>
    <nav class="ya-paging text-center" ng-include="'yatable/paging.html'"></nav>
</div>