{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/yaat.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/angular.js' %}"></script>
    <!-- You can toggle dev or build scripts here -->
    <script src="{% static 'js/yaat.js' %}"></script>
    <!-- <script src="{% static 'js/yaat-full.min.js' %}"></script> -->
</head>
<body ng-app="yaat">
    <!-- TODO: Split examples to separate files -->
    <h1>Imperative example (with filter form)</h1>
    <script>
        var app = angular.module('yaat');
        app.controller('FilterForm', ['$scope', function($scope){
            var self = this;
            $scope.model = {};

            $scope.$on('yaat.ready', function(){
                $scope.model.search = 'asd';

                $scope.$broadcast('yaat.http.extra', $scope.model);
                $scope.$broadcast('yaat.init', "{% url 'api:api' %}");

                $scope.$watch('model', function(newValue, oldValue){
                    if(newValue !== oldValue){
                        $scope.$broadcast('yaat.update');
                    }
                }, true);
            });

            $scope.$on('yaat.http.error', function(e, data, status){
                console.log('yaat.http.error');
            });

            self.filter = function(){
                $scope.$broadcast('yaat.update');
            };

            self.limit = 10;
        }]);

        app.controller('Imperative', ['$scope', function($scope){
            $scope.$limit = 5;
            $scope.$noDropdown = true;
        }]);
    </script>
    <form ng-controller="FilterForm as filter">
        <div>
            <input type="text" ng-model="model.search">
            <button ng-click="filter.filter()">Filter</button>
            Note: Server-side filtering is not implemented yet. See the raw network traffic.
        </div>
        <div>
            Limit: <input type="number" ng-model="filter.limit">
        </div>
        <yat ng-controller="Imperative" limit="filter.limit"></yat>
    </form>

    <hr>

    <h1>Declarative example (using Bootstrap template)</h1>
    <yat api="{% url 'api:api' %}" template="yatable/bootstrap_table.html"></yat>
</body>
</html>