{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>

    <script src="{% static 'js/yaat.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/yaat.css' %}">
</head>
<body ng-app="yaat">
    <script>
        var app = angular.module('yaat');
        app.controller('FilterForm', ['$scope', function($scope){
            var self = this;
            $scope.model = {};

            $scope.$on('yaat.ready', function(e){
                $scope.model.search = 'asd';

                $scope.$broadcast('yaat.http.post.add', 'filter', $scope.model);
                $scope.$broadcast('yaat.init', "{% url 'api:api' %}");

                $scope.$watch('model', function(newValue, oldValue){
                    if(newValue !== oldValue){
                        $scope.$broadcast('yaat.update');
                    }
                }, true);
            });

            $scope.$on('yaat.http.error', function(e, data, status){
                console.log('yaat.http.error');
            });

            self.filter = function(){
                $scope.$broadcast('yaat.update');
            };

            self.limit = 10;
        }]);
    </script>
    <form ng-controller="FilterForm as filter">
        <h1>Declarative example (with Bootstrap template)</h1>
        <div>
            <label for="search">Filter:</label>
            <input id="search" type="text" ng-model="model.search">
            <button ng-click="filter.filter()">Filter</button>
            Note: Server-side filtering is not implemented yet. See the raw network traffic.
        </div>
        <div>
            <label for="limit">Limit:</label>
            <input id="limit" type="number" ng-model="filter.limit" min="0">
        </div>
        <yat id="testTable" api="{% url 'api:api' %}" limit="filter.limit"></yat>
    </form>
</body>
</html>